@use '../mixins' as *;

.container {
    display: grid;
    grid-template-columns: 0.4fr 0.8fr;
}

.dark-overlay {
    position: fixed;  // Position it above the content
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);  // Dark semi-transparent overlay
    z-index: 1;  // Ensures it's above other content
    height: 100vh;
}
.darker-overlay {
    position: fixed;  // Position it above the content
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  // Dark semi-transparent overlay
    z-index: 1;  // Ensures it's above other content
}

