@use '../mixins' as *;

header {
    width: 1024px;
    max-width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: end;
}

header a {
    color: var(--color-text-white);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    margin-top: 30px;
    height: 80px;
    width: auto;
    font-size: var(--font-size-xl);
    background: linear-gradient(to bottom, var(--color-primary-rotate), var(--color-primary));
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);

    font-family: var(--font-family-sans);
    transform: translateY(50px);
    -webkit-transform: translateY(50px);  // WebKit-specific transform for Safari
    filter: blur(20px);
    -webkit-filter: blur(20px);  // WebKit-specific filter for Safari
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
    -webkit-animation: showContent 0.5s 1s linear 1 forwards;  // WebKit-specific animation for Safari

    .email-link {
        display: flex;
        cursor: pointer;
        .email {
            filter: brightness(0.1);
            -webkit-filter: brightness(0.1);  // WebKit-specific filter for Safari
        }
        .email:hover {
            filter: brightness(1.2);
            -webkit-filter: brightness(1.2);  // WebKit-specific filter for Safari
        }
        .copy {
            filter: brightness(0.1);
            -webkit-filter: brightness(0.1);  // WebKit-specific filter for Safari
        }
        .copy:hover {
            filter: brightness(1.2);
            -webkit-filter: brightness(1.2);  // WebKit-specific filter for Safari
        }
        .copy-feedback {
            font-size: var(--font-size-xxs);
        }
    }
}

.tooltip-container {
    position: relative;
    display: inline-block;

    .tooltip {
        bottom: -120%;
        left: 0%;
        background-color: rgb(112, 112, 112); /* Dark background */
        color: var(--color-text-white);
        font-size: var(--font-size-xxs);
        padding: 5px;
        visibility: hidden; /* Initially hidden */
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;  // WebKit-specific transition for Safari
        transition: opacity 0.3s ease-in-out;
    }
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1; /* Show tooltip */
    -webkit-opacity: 1;  // WebKit-specific opacity for Safari
}

@media screen and (max-width: 678px) {
    .title {
        margin-top: -10px;
        height: 60px;
        font-size: var(--font-size-m);
        padding-left: 5px;
        padding-right: 5px;
    }
}
