@use '../mixins' as *;

header {
    width: 1024px;
    max-width: 80%;
    margin: auto;
    height: 100px;
    // padding-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: end;
}

header a {
    margin-right: 40px;
    color: var(--color-text-white);
}

.title {
    .portfolio-link {
        display: inline-flex;
        align-items: end;
        margin-top: 30px;
        cursor: pointer;
        font-size: var(--font-size-xl);
        background: linear-gradient(to bottom, var(--color-primary-rotate), var(--color-primary));
        color: var(--color-white);
        padding-left: 10px;
        padding-right: 10px;
        border-radius: var(--border-radius);
        height: 80px;
        border: none;
        font-family: var(--font-family-sans);
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent 0.5s 1s linear 1 forwards; 
    }
}