@use '../mixins' as *;

header {
    width: 1024px;
    max-width: 80%;
    margin: auto;
    height: 100px;
    // padding-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: end;
}

header a {
    // margin-right: 40px
    color: var(--color-text-white);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    margin-top: 30px;
    height: 80px;
    width: auto;
    font-size: var(--font-size-xl);
    background: linear-gradient(to bottom, var(--color-primary-rotate), var(--color-primary));
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--border-radius);

    font-family: var(--font-family-sans);
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards; 

    .email-link {
        display: flex;;
        cursor: pointer;
        .email {
            filter: brightness(0.1);
        }
        .email:hover {
            filter: brightness(1.2);
        }
        .copy {
            filter: brightness(0.1);
        }
        .copy:hover {
            filter: brightness(1.2);
        }
        .copy-feedback {
            font-size: var(--font-size-xxs);
        }
    }

}
.tooltip-container {
    position: relative;
    display: inline-block;

    .tooltip {
        bottom: 110%;
        left: 30%;
        background-color: rgb(112, 112, 112); /* Dark background */
        color: var(--color-text-white);
        font-size: var(--font-size-xxs);
        font-weight: bold;
    }
  }
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1; /* Show tooltip */
  }
  
@media screen and (max-width: 678px) {
    .title {
        margin-top: -10px;
        height: 60px;
        font-size: var(--font-size-m);
        padding-left: 5px;
        padding-right: 5px;
    }
}